@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: all 0.5s ease;

}

/* header */
.header {
    background-color: #FFFFFF;
    width: 100%;
}

div p {
    font-weight: 400;
    color: #757575;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 0;
}

div span {
    font-weight: 500;
    color: #757575;
    font-size: 12px;
    line-height: 24px;
    padding-right: 8px;
}

div span i {
    color: #a5c422
}

/* navbar */

.nav-bar {
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .075);
    z-index: 10;

    padding: 100px 0px;
}

.nav-item a {
    font-weight: 500;
    color: #393939;
    font-size: 12px;
    line-height: 20px;
}

.btn-success {
    --bs-btn-bg: #A5C422;
    --bs-btn-border-color: #A5C422;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 20px;
}

.navbar-brand {
    font-size: 18px;
    line-height: 20px;
    color: #5e5e5e;
    font-weight: 500;
}

/* hero */
.carousel-caption h2 {
    font-weight: 400;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
}

.carousel-caption h1 {
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 70px;
    line-height: 100px;

}

.carousel-caption {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;
}

/* about */

.about {
    background-color: #F5F5F5;
    padding: 80px 0px;

}

.left h2 {
    font-weight: 600;
    color: #272727;
    font-size: 42px;
    line-height: 60px;
}

.left p {
    font-style: normal;
    font-weight: 400;
    color: #757575;
    font-size: 14px;
    line-height: 24px;
}

.doc-img {
    width: 70px;
    height: 70px;
}

.doc-img img {
    width: 100%;
    border-radius: 50%;
}

.info-doc h3 {
    font-weight: 600;
    color: #333;
    font-size: 25px;
    line-height: 30px;
}

.info-doc span {
    font-weight: 400;
    color: #757575;
    font-size: 14px;
    line-height: 24px;
}

.right img {
    width: 100%;
}

/* Our Doctors */


.doctors {
    background-color: #FFFFFF;
    padding: 80px 0;
}

.our {
    font-style: normal;
    font-weight: 600;
    color: #272727;
    font-size: 42px;
    line-height: 60px;
}

.doc-page {
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .075);
    border: none;

}

.doc-page img{
    width: 100%;
}
.doctor-info h3 {
    font-weight: 600;
    color: #333;
    font-size: 25px;
    line-height: 30px;
}

.doctor-info p {
    font-weight: 400;
    color: #757575;
    font-size: 14px;
    line-height: 24px;
}

.doctor-contact span {
    font-weight: 400;
    color: #757575;
    font-size: 14px;
    line-height: 24px;
    display: block;
}

/* news */

.news {
    background-color: #FFFFFF;
    padding: 100px 0;
}

.card-news img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.card-news {
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .075);
    border: none;
}

.author-img img {
    width: 100%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.author-news h3 {
    font-weight: 500;
    color: #333;
    font-size: 14px;
    line-height: 20px;

}

.author-news p {
    font-weight: 400;
    color: #757575;
    font-size: 14px;
    line-height: 24px;
}

.news-summary span {
    font-weight: 400;
    color: rgb(51, 51, 51);
    font-size: 14px;
    line-height: 20px;
    display: block;
}

.news-summary h4 {
    font-size: 25px;
    line-height: 30px;
    color: black;
    font-weight: 600;
}

.news-summary h4:hover {
    color: #A5C422;
}

.news-summary:hover {
    color: #a5c422;
}

.news-summary p {
    font-weight: 400;
    color: #757575;
    font-size: 14px;
    line-height: 24px;
}

/* contact */

.contact {
    padding: 100px 0px;
    background-color: #FFFFFF;

}

.contact-img img {
    width: 100%;
}

label {
    font-weight: 500;
    color: #393939;
    font-size: 14px;
    line-height: 20px;
}

input::placeholder,
textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    color: #5e5e5e;
    font-size: 14px;
    line-height: 20px;
}

/* footer */

.footer-heading {
    font-style: normal;
    font-size: 25px;
    font-weight: 600;
    color: #454545;
    line-height: 36px;
}

.footer-text {
    font-style: normal;
    font-weight: 400;
    color: #757575;
    font-size: 14px;
    line-height: 20px;
}

.footer-icon i {
    height: 40px;
    width: 40px;
    background-color: #000000;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card3-icon i {
    color: #5e5e5e;
    font-weight: 400;
    font-size: 15px;
    line-height: 35px;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card3-icon i:hover {
    background-color: blue;
    color: #F5F5F5;
}
.footer-links a{
    text-decoration: none;
    margin: 7px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #5e5e5e;
}

.footer-links a:hover{
    color: blueviolet;
}